{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Lista de Senhas</strong>
		</div>
		{% if senhas %}
		<ul>
            <span>Filtrar por:</span>
            <select name="filter" id="filter" class="form-control">
                <option value="">Escolha uma opção</option>
                <option value="na-fila">Na fila</option>
                <option value="em-atendimento">Em atendimento</option>
                <option value="ausente">Ausente</option>
                <option value="atendida">Atendida</option>
            </select>
			{% for senha in senhas %}
			<li>
                {% if senha.id_status_senha.nome == "Na fila"%}
				    {{senha.senha}} | {{senha.id_status_senha.nome}}
                    {% else %}
                    
                {% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>Nenhuma senha encontradas</p>
		{% endif %}
	</div>
</div>
{% endblock %}
