{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Lista de Senhas</strong>
		</div>
		{% if senhas %}
		<ul>
			{% for senha in senhas %}
			<li>
                {% if senha.id_status_senha.nome == "Em atendimento"%}
				    {{senha.senha}} | {{senha.id_status_senha.nome}}                    
                {% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>Nenhuma senha encontradas</p>
		{% endif %}
	</div>
</div>
{% endblock %}
